<configuration>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="ALL" class="ch.qos.logback.core.FileAppender">
        <file>log/all.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SCRAPER" class="ch.qos.logback.core.FileAppender">
        <file>log/scraper.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ANALYZER" class="ch.qos.logback.core.FileAppender">
        <file>log/analyzer.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ALERT" class="ch.qos.logback.core.FileAppender">
        <file>log/alert.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ge.shitbot.scraper" level="debug" additivity="false">
        <appender-ref ref="SCRAPER" />
    </logger>

    <logger name="ge.shitbot.analyzer" level="debug" additivity="false">
        <appender-ref ref="ANALYZER" />
    </logger>

    <logger name="ge.shitbot.alert" level="debug" additivity="false">
        <appender-ref ref="ALERT" />
    </logger>

    <logger name="org.hibernate" level="error" additivity="false">
        <appender-ref ref="stdout" />
    </logger>

    <root level="debug">
        <appender-ref ref="stdout" />
        <appender-ref ref="ALL" />
    </root>
</configuration>