<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mysql://127.0.0.1:33060/homestead
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.username">
            homestead
        </property>
        <property name="connection.password">
            secret
        </property>
        <property name="dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <mapping class="ge.shitbot.persist.models.Person" />
        <mapping class="ge.shitbot.persist.models.Skill" />
        <mapping class="ge.shitbot.persist.models.Ranking" />
        <mapping class="ge.shitbot.persist.models.CategoryInfo" />
        <mapping class="ge.shitbot.persist.models.Bookie" />
    </session-factory>
</hibernate-configuration>